body {
    margin: 0;
    height: 100vh;
    background-color: rgb(224,231,34);
    font-family: 'Red Hat Mono', monospace;
    display: flex;
    justify-content: center;
}

#main-container {
    padding: 1rem;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

button {
    border-radius: 25px;
    font-size: 250%;
    font-family: 'Red Hat Mono', monospace;
}

button:hover {
    transform: scale(1.1);
}

#calculator-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "scr scr scr scr"
    "scr scr scr scr"
    "num num num op"
    "num num num op"
    "num num num op"
    "num num num op"
    "clear clear clear op"
    "equal equal equal equal";
    gap: 1rem;
}

.area {
    border-radius: 25px;
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.screen {
    grid-area: scr;
    padding: 2rem;
    background-color: rgb(234, 251, 220);
    text-align: right;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#screen-output {
    font-size: 3rem;
}

#past-operations {
    color: gray;
}

.numbers {
    grid-area: num; 
    background-color: rgb(249, 238, 158);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.num-button {
    background-color: yellow;
}

#decimal {
    grid-column: 2 / -1;
}

.operators {
    grid-area: op;
    background-color: rgb(235, 158, 69);
    grid-template-rows: repeat(5, 1fr);
}

.operator-button {
    background-color: orange;
}

.plus-minus {
    font-size: 350%;
}

.options {
    grid-area: clear;
    background-color: rgb(249, 238, 158);
    min-width: min-content;
    grid-template-columns: repeat(3, 1fr);
}

.options-button {
    font-size: 1.5rem;
}

.equal {
    grid-area: equal;
    background-color: rgb(174, 180, 20);
}

.equal-button {
    background-color: rgb(82, 132, 48);
}
.footer-container {
    /* flex-shrink: 0; */
    height: 8vh;
    max-width: 800px;
    padding: 0 1rem;
    font-size: 150%;
    background-color: rgb(141, 145, 141, 0.8);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.mfb-logo {
    max-height: 50px;
}

a {
    text-decoration: none; 
}
